<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exhibition.mapper.ExMapper">
    <select id="searchByKeyword" resultType="com.exhibition.entity.Exhibition">
        select exhibition.*
        from exhibition
        where name like CONCAT ('%', #{keyword,jdbcType=VARCHAR},'%');
    </select>

    <select id="findTagByExId" resultType="com.exhibition.entity.Tag">
        select tag.*
        from (
            select * from exhibition_tag as et where et.ex_id=#{ex_id}
        ) as t left join tag on t.tag_id=tag.id;
    </select>

    <select id="selectCheckedAdmin" resultType="com.exhibition.entity.response_type.ExhibitioncheckedStatusBool">
        select e.id,name,date,review_date,user_id,result,type
        from user_ex_relation as u left join ex_review as e on u.ex_review_id=e.id
        where is_done=True
        Order by review_date;
    </select>

    <select id="selectchecked" resultType="com.exhibition.entity.response_type.ExhibitioncheckedStatusBool">
        select e.id,name,date,review_date,user_id,result,type
        from user_ex_relation u left join ex_review as e
        on u.ex_id=e.id
        where u.user_id = #{keyword} and is_done=True
        Order by review_date;
    </select>

    <select id="getAllOrganizers" resultType="java.lang.String">
        select distinct organizer
        from exhibition;
    </select>

    <resultMap id="venueMap" type="com.exhibition.entity.response_type.VenueInfo">
        <result property="venue_name" column="venue_name" javaType="String"/>
        <result property="venue_province" column="province" javaType="String"/>
        <result property="venue_city" column="city" javaType="String"/>
        <result property="venue_area" column="area" javaType="String"/>
        <result property="venue_address" column="address" javaType="String"/>
    </resultMap>

    <select id="getAllVenueInfo" resultMap="venueMap">
        select distinct venue_name, province,city,area,address
        from exhibition;
    </select>

    <select id="getExInfo" resultType="com.exhibition.entity.Exhibition">
        select exhibition.*
        from exhibition;
    </select>

    <select id="getNextId" resultType="java.lang.Integer">
        select max(id) from exhibition;
    </select>
</mapper>
