<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exhibition.mapper.ExMapper">
    <select id="searchByKeyword" resultType="com.exhibition.entity.Exhibition">
        select exhibition.*
        from exhibition
        where name like CONCAT ('%', #{keyword,jdbcType=VARCHAR},'%');
    </select>

    <select id="findTagByExId" resultType="com.exhibition.entity.Tag">
        select tag.*
        from (
            select * from exhibition_tag as et where et.ex_id=#{ex_id}
        ) as t left join tag on t.tag_id=tag.id;
    </select>

    <select id="selectUnchecked" resultType="com.exhibition.entity.ExhibitionUnchecked">
        select id,name,edit_time from exhibition where is_checked = false;
    </select>
    <select id="selectchecked" resultType="com.exhibition.entity.ExhibitioncheckedStatusBool">
        select id,name,venue_name,organizer,begin_date,end_date,is_checked
        from user_ex_relation u join exhibition e
        on u.user_id = #{keyword}
        and u.ex_id=e.id;
    </select>
</mapper>
