<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exhibition.mapper.ExReTagMapper">
    <select id="selectTagById" resultType="com.exhibition.entity.Tag">
        select b.*
        from exhibitionRe_tag a join tag b
        on a.exRe_id=#{keyword}
        and a.tag_id=b.id;
    </select>

    <delete id="deleteTagByExReId">
        delete from exhibitionre_tag as re
        where re.exRe_id=#{ex_review_id}
    </delete>
</mapper>