<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exhibition.mapper.ExTagMapper">
    <select id="selectAllTagids" resultType="java.lang.Integer">
        select tag_id
        from exhibition_tag
        where ex_id = #{ex_id}
    </select>
</mapper>