<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exhibition.mapper.UserExRelMapper">
    <select id="getUncheckedEx" resultType="com.exhibition.entity.response_type.UncheckedExType">
        select ex_review.*, re.date
        from (
            select ex_review_id,date
            from user_ex_relation
            where is_done=FALSE
        ) as re left join ex_review on re.ex_review_id=ex_review.id;
    </select>

    <select id="getOwnerId" resultType="java.lang.Integer">
        select distinct user_id
        from user_ex_relation
        where ex_id=#{ex_id}
    </select>

    <select id="getExistingRecord" resultType="com.exhibition.entity.UserExRelation">
        select *
        from user_ex_relation
        where is_done=FALSE and user_id=#{user_id} and ex_id=#{ex_id}
    </select>
</mapper>